.banner {
  height: 100%;
  padding: 5% 5%;
}

.banner--content {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.banner--box {
  color: white;
  width: 90%;
  height: 360px;
  /* text-align: center; */
  background-image: linear-gradient(0deg, transparent, rgba(141, 81, 238, 0.6));
  overflow: auto;
}

.banner--box::-webkit-scrollbar {
  width: 0.5em;
}

.banner--box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(37, 37, 37, 0.3);
}

.banner--box::-webkit-scrollbar-thumb {
  background-color: rgba(141, 81, 238, 0.6);
  outline: 1px solid rgb(13, 13, 14);
}

.banner--options {
  height: 75px;
  padding: 1% 4%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .banner--options {
    height: max-content;
  }
}

.menu--box {
  width: 100px;
  margin: 0.8% 0.9%;
  height: max-content;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  border-radius: 3rem;
}

.menu--box:hover {
  border: 1px solid rgb(214, 233, 241);
}

.menu--title {
  color: white;
  font-size: 1rem;
}
